<div class="modal-container">
  <div class="d-flex justify-content-center w-100" style="height: 100px;" *ngIf="isLoading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="myModal" *ngIf="!isLoading">
    <div class="modal-header position-relative">
      <div class="d-flex header-pos">
        <img class="img-fluid rounded-circle shadow" [src]="patient.pictureUrl" alt="">
        <h4 class="mt-2">
          <i class="fa-solid fa-person{{patient.gender == 2 ? '' : '-dress'}}"></i>&nbsp;
          {{patient.name}}</h4>
      </div>
      <i id="closeModal" class="fa-solid fa-xmark" style="position: absolute;right: 0;top: 0;"></i>
      <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
    </div>
    <div class="modal-body fs-5">
      <div class="row justify-content-start">
        <div class="col-auto mx-4"><i class="fa-solid fa-at"></i></div>
        <div class="col-auto">{{patient.email}}</div>
      </div>
      <div class="row justify-content-start">
        <div class="col-auto mx-4"><i class="fa-solid fa-mars-and-venus"></i></div>
        <div class="col-auto">{{patient.gender == 2 ? "Male" : "Female"}}</div>
      </div>
      <div class="row justify-content-start">
        <div class="col-auto mx-4"><i class="fa-solid fa-cake-candles"></i></div>
        <div class="col-auto">{{patient.dob.date.toLocaleDateString()}}</div>
      </div>
      <div class="row justify-content-start">
        <div class="col-auto mx-4"><i class="fa-solid fa-mobile-button"></i></div>
        <div class="col-auto">{{patient.phone}}</div>
      </div>
      <div class="row justify-content-start">
        <div class="col-auto mx-4"><i class="fa-solid fa-earth-americas"></i></div>
        <div class="col-auto">{{patient.country}}</div>
      </div>
      <div class="row justify-content-start">
        <div class="col-auto mx-4"><i class="fa-solid fa-location-dot"></i></div>
        <div class="col-auto">{{patient.address}}</div>
      </div>
      <div class="row justify-content-start">
        <div class="col-auto mx-4"><i class="fa-solid fa-barcode"></i></div>
        <div class="col-auto">{{patient.id}}</div>
      </div>
      <div class="row justify-content-start">
        <div class="col-auto mx-4"><i class="fa-solid fa-share-nodes"></i></div>
        <div class="col-auto text-info" style="cursor: pointer;" (click)="copyLink()">Copy patient link!</div>
      </div>
    </div>
    <app-modal-alert *ngIf="showAlert" class="{{showAlert ? 'showAlert' : ''}}"></app-modal-alert>
  </div>
  <div id="modalBackdrop" class="modal-backdrop show" tabindex="1"></div>
</div>