<div class="row" class="row w-100 justify-content-center mx-0">
  <div class="col-24 input-group">
    <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username with two button addons">
    <button class="btn btn-outline-primary" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>

  <div class="col-6 me-2">
    <div class="input-group mt-1">
      <label class="input-group-text" for="inputGroupSelect01"><i class="fa-solid fa-mars-and-venus"></i></label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Filter by gender...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="col-6 ms-2">
    <div class="input-group mt-1">
      <label class="input-group-text" for="inputGroupSelect02"><i class="fa-solid fa-earth-americas"></i></label>
      <select class="form-select" id="inputGroupSelect02">
        <option selected>Filter by country...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
</div>