<div class="row" class="row w-100 justify-content-center mx-0">
  <div class="col-24 input-group">
    <input [(ngModel)]="searchStr" 
    (input)="yo()"
    type="text" class="form-control" placeholder="Search..."
      aria-label="Recipient's username with two button addons" style="width: 50%;">
      <label class="input-group-text" for="inputGroupSelect01"><i class="fa-solid fa-mars-and-venus"></i></label>
      <select (change)="yo()" [(ngModel)]="gender" class="form-select" id="">
        <option selected value=0>Gender</option>
        <option value="0">All</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
      </select>
      <label class="input-group-text" for="inputGroupSelect02"><i class="fa-solid fa-earth-americas"></i></label>
      <select (change)="yo()" [(ngModel)]="country" class="form-select" id="">
        <option selected value=''>Country</option>
        <option value="{{country}}" *ngFor="let country of countries">{{country}}</option>
      </select>
      <button class="btn btn-outline-info" 
      (click)="clearFilters()"
      [disabled]="!filtersApplied()" style="z-index: auto;">
        <i class="fa-solid fa-eraser"></i>
      </button>
    <!-- <button class="btn btn-outline-primary" type="button"><i class="fa-solid fa-magnifying-glass"></i></button> -->
  </div>
  <!-- <div class="col-24 input-group mt-2">
    <label class="input-group-text" for="inputGroupSelect02"><i class="fa-solid fa-list"></i></label>
    <select class="form-select" aria-label="Default select example">
      <option selected>Page size</option>
      <option value="5">5</option>
      <option value="10">10</option>
    </select>
  </div> -->
</div>