<div class="container">
  <div class="row">
    <div class="col-24">
      <nav app-navbar class="navbar navbar-expand-md navbar-light bg-light row w-100 mx-0 px-3"></nav>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-16">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat ducimus autem molestias? Sunt labore molestiae, hic vel iure id a adipisci consectetur porro saepe inventore! Vel, dicta itaque. Odio?</p>
    </div>

    <div class="col-16">
      <div app-busca></div>
    </div>
    
    <div class="col-16 mt-3">
      <div app-tabela class="table-responsive"></div>
    </div>

  </div>
  <router-outlet></router-outlet>
</div>