<div class="d-flex justify-content-center w-100" style="height: 100px;" *ngIf="isLoading">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
  <table class="table table-striped text-center" *ngIf="!isLoading">
    <thead>
      <tr>
        <th scope="col">
          <div class="row">
            <div class="col-auto ms-3 me-3">Name</div>
            <div class="col-auto" style="cursor: pointer;"><i class="fa-solid fa-arrow-down-a-z"></i></div>
          </div>
        </th>
        <th scope="col">Gender</th>
        <th scope="col">Birth</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr app-linha-tabela *ngFor="let patient of patients" [patient]="patient"></tr>
      <tr class="col">
        <td colspan="4">
          <nav>
            <ul class="pagination justify-content-center mb-0 user-select-none">
              <li class="page-item">
                <a class="page-link" (click)="prevPage()" style="cursor: pointer;"><i class="fa-solid fa-arrow-left-long"></i></a>
              </li>
              <li class="page-item"><a class="page-link">{{page}}</a></li>
              <li class="page-item">
                <a class="page-link" (click)="nextPage()" style="cursor: pointer;"><i class="fa-solid fa-arrow-right-long"></i></a>
              </li>
            </ul>
          </nav>
        </td>
      </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>